.idea
test.py
build/
dist/
Mordomo.spec
**/__pycache__/
__pycache__/
vincular-categoria.py
produtos.xlsx
produtos_pai.xlsx
.env
sql_server.py
testando_conexçoes.py
testando_conexoes.py
.env-sql
mordomo/programas/.env-sql
mordomo/programas/Relatorio-Personalizado.xls
mordomo/programas/confere_vinculacoes_campos_valores_produtos.py
mordomo/programas/excel/vincalacoes_sku_netshoes.xlsx
mordomo/programas/excel
mordomo/programas/missao.py
mordomo/programas/missao.xls