.idea
test.py
build/
dist/
Mordomo.spec
**/__pycache__/
__pycache__/
vincular-categoria.py
produtos.xlsx
produtos_pai.xlsx
.env
sql_server.py
testando_conexçoes.py
sql_server_novos_pedidos.py
testando_conexoes.py
.env-sql
mordomo/programas/.env-sql
mordomo/programas/Relatorio-Personalizado.xls